body {
  background-color: white;
  font-family: "Trebuchet MS", sans-serif;
}

#content {
  width: 840px;
  margin: 10px auto;
  background-color: white;
  min-height: 200px;
}

#cup1,#cup2,#cup3 {
  position: relative;
  float: left;
  margin: 20px;
}

#cup1,#cup2,#cup3 {
  overflow: hidden;
  width: 150px;
  height: 180px;
}

img {
    width: 150px;
    height: 180px;
}

#ball {
    position: absolute;
    z-index: 200;
    display: none;
}

h1{
    font-size: 40px;
}

button{
    width: 70px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    color: red;
    margin-left: 20px;
}

footer{
    height: 70px;
    margin-top: 200px;
    text-align: center;
    font-weight: bold;
}
